<div class="container-fluid">
	<div class="row-fluid">
		<div class="span12">
			<div class="carousel slide" id="carousel-270201">
				<ol class="carousel-indicators">
					<li class="active" data-slide-to="0" data-target="#carousel-270201">
					</li>
					<li data-slide-to="1" data-target="#carousel-270201">
					</li>
					<li data-slide-to="2" data-target="#carousel-270201">
					</li>
				</ol>
				<div class="carousel-inner">
					<div class="item active">
						<%= link_to image_tag("home_1.png", alt: "home_1") %>
						<div class="carousel-caption">
							<h4>
								im.tower是tower的山寨版
							</h4>
							<p>
								它是我们的Oracle课程设计大作业
							</p>
						</div>
					</div>
					<div class="item">
						<%= link_to image_tag("home_2.png", alt: "home_2") %>
						<div class="carousel-caption">
							<h4>
								技术选型
							</h4>
							<p>
								后端框架Rails，前端框架Bootstrap，数据库Oracle Postgre
							</p>
						</div>
					</div>
					<div class="item">
						<%= link_to image_tag("home_3.png", alt: "home_3") %>
						<div class="carousel-caption">
							<h4>
								吉林大学Minecraft团队
							</h4>
							<p>
								马杰，王多民，芦鑫，李想
							</p>
						</div>
					</div>
				</div> <a data-slide="prev" href="#carousel-270201" class="left carousel-control">‹</a> <a data-slide="next" href="#carousel-270201" class="right carousel-control">›</a>
			</div>
		</div>
	</div>
</div>


<div class="center hero-unit">
    <h1> 欢迎使用im.tower</h1> 

		
    <h2>
			简单好用的团队协作工具
    </h2>

    <%= link_to "Sign up for free!", signup_path, class:"btn btn-large btn-primary"%>
</div>

Powered by <%= link_to image_tag("rails.png", alt: "Rails"), 'http://rubyonrails.org/' %>
